.color-box { }

.color-box__color-select {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}

.color-box__color-select li {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.color-box__color-select li:nth-child(1) {
  background-color: lightcyan;
}

.color-box__color-select li:nth-child(2) {
  background-color: lightpink;
}

.color-box__color-select li:nth-child(3) {
  background-color: lightgoldenrodyellow;
}


.three-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}